@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* Humanline brand colors */
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 142 76% 96%;
    --primary-hover: 142 76% 32%;

    --tertiary: 224 38% 11%;
    --tertiary-foreground: 210 40% 96.1%;

    --secondary: 210 20% 96%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    /* --muted: 210 40% 96.1%; */
    --muted: 0 0% 97%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --warning: 45 93% 58%;
    --warning-foreground: 222.2 84% 4.9%;

    --success: 151 87% 37%;
    --success-foreground: 0 0% 100%;

    /* --border: 214.3 31.8% 91.4%; */
    --border: 220 7% 92%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142 76% 36%;

    --radius: 0.5rem;

    /* Sidebar light theme */
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 221 39% 11%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 142 76% 36%;
    --sidebar-theme-toggle-body: 0 0% 97%;
    --sidebar-icon: 214 20% 69%;
    --sidebar-sub-active: ;

    /* Dashboard specific colors */
    --stats-up: 158 61% 40%;
    --stats-down: 0 84.2% 60.2%;
    --chart-line-1: 142 76% 36%;
    --chart-line-2: 45 93% 58%;
    --chart-line-3: 217.2 91.2% 59.8%;
    --chart-line-4: 280 100% 70%;
    --piechart-background: 330 17% 98%;
    --kanban-board-column-background: 0 0% 97%;

    /* DatePicker specific variables - Light theme */
    --date-picker-background: 0 0% 100%;
    --date-picker-foreground: 222.2 84% 4.9%;
    --date-picker-border: 214.3 31.8% 91.4%;
    --date-picker-hover: 210 40% 96.1%;
    --date-picker-muted: 215.4 16.3% 46.9%;
    --date-picker-data-in-range: 142 76% 95%;

    --app-header-search: 0 0% 97%;
    --placeholder: 214 20% 69%;
  }

  .dark {
    /* --background: 220 13% 9%; */
    --background: 215 28% 17%;
    --foreground: 0 0% 100%;

    --card: 215 28% 17%;
    --card-foreground: 210 40% 98%;

    --popover: 215 28% 17%;
    --popover-foreground: 210 40% 98%;

    /* Dark mode colors */
    --primary: 142 76% 36%;
    --primary-foreground: 0 0% 100%;
    --primary-light: 142 76% 16%;
    --primary-hover: 142 76% 40%;

    --tertiary: 300 100% 100%;
    --tertiary-foreground: 218 8% 19%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    /* --muted: 217.2 32.6% 17.5%; */
    --muted: 221 39% 11%;
    /* --muted-foreground: 215 20.2% 65.1%; */
    --muted-foreground: 0 100% 100%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --warning: 45 93% 58%;
    --warning-foreground: 222.2 84% 4.9%;

    --success: 151 87% 37%;
    --success-foreground: 0 0% 100%;

    /* --border: 217.2 32.6% 17.5%; */
    --border: 217 19% 24%;
    --input: 217.2 32.6% 17.5%;
    --ring: 142 76% 36%;

    /* Sidebar dark theme */
    --sidebar-background: 215 28% 17%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 142 76% 36%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215 25% 25%;
    --sidebar-accent-foreground: 215 20% 90%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 142 76% 36%;
    --sidebar-theme-toggle-body: 221 39% 11%;
    --sidebar-icon: 216 13% 47%;

    /* Dashboard dark colors */
    --stats-up: 158 61% 40%;
    --stats-down: 0 84.2% 60.2%;
    --chart-line-1: 142 76% 36%;
    --chart-line-2: 45 93% 58%;
    --chart-line-3: 217.2 91.2% 59.8%;
    --chart-line-4: 280 100% 70%;
    --piechart-background: 330 17% 98%;
    --kanban-board-column-background: 220 13% 11%;

    /* DatePicker specific variables - Dark theme */

    --date-picker-background: 222.2 84% 4.9%;
    --date-picker-foreground: 210 40% 98%;
    --date-picker-border: 217.2 32.6% 17.5%;
    --date-picker-hover: 210 40% 10%;
    --date-picker-muted: 215 20.2% 5%;
    --date-picker-data-in-range: 142 76% 15%;

    --app-header-search: 217 19% 24%;
    --placeholder: 216 13% 47%;
    --table-header: 211 25% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* color: #a0aec0 */
  }

  body {
    @apply bg-background text-foreground;
  }
}
